.profile-image{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}
.user-name{
    color: #4D4F5C;
}
.user-country{
    color: #43425D;
    opacity: 0.5 ;
}
.twitter-icon::before{
    content: "\f099";
}
.facebook-icon::before{
    content: "\f09a";
}
.linkedin-icon::before{
    content: "\f08c";
}
.whatsapp-icon::before{
    content: "\f232";
}
.social-media-icons span{
    font-size: 1rem;
    color: #A4AFB7;
    padding: 0.5rem;
}
.other-user-heading ,.icon-ellipsis{
    color: #4D4F5C;
}
.icon-ellipsis::before{
    content: "\f142";
}
.other-user-profile-pic{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.other-user-name{
    color: #4D4F5C;
}
.other-user-country{
    color: #43425D;
    opacity: 0.5;
}
.other-user-phone{
    color: #43425D;
    opacity: 0.5;
    margin-left: auto;
}
@media(max-width: 48rem) {
    .user-info-tab{
        margin-bottom: 1rem !important;
        margin-right: 0 !important;
    }
}
.user-info-tab{
    margin: 0 1rem;
}
.other-users{
    border-top: 1px solid #F0F4F7;
}
.profile-image-holder{
    position: relative;
}
.edit-profile-pic{
    position: absolute;
    bottom: 0;
    height: 1.25rem;
    width: 1.25rem;
    left:calc(50% + 1rem) ;
    border-radius: 50%;
    background: #6763E3;
    border: 2px solid #ffffff;
}
.edit-icon::before{
    content: "\f040";
    color: #ffffff;
    font-size: 0.75rem;
    padding: 0.25rem;
}